@page
@model Cvl.DynamicForms.Server.Areas.DF.Pages.PropertyGridModel
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            Propercje2
        </div>
        <div class="col">
            <input />
        </div>
    </div>
</div>