@using Cvl.DynamicForms.Core.Models
@using Cvl.DynamicForms.WebApp.Components.FormElements
<div class="row">
    @foreach (var element in Model.Children)
    {
        <div class="col">
            <ControlView Model=@element></ControlView>
        </div>
    }

    @foreach (var element in Model.Elements)
    {
        <div class="col">
            <FormElementView Model=@element></FormElementView>
        </div>
    }
</div>
@code {
    [Parameter]
    public ItemsControl? Model { get; set; }
}
