@model Cvl.DynamicForms.Model.ViewModel.GridViewModel
@{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                @foreach (var col in Model.Columns)
                {
                    <th scope="col">
                        @col.Header
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Rows)
            {
                <tr>
                    <th scope="col"><a href="PropertyGrid?id=@row.Id&type=@row.ElementTypeFullName">@row.Id</a></th>
                    @foreach (var cell in row.Cells)
                    {
                        <td>@cell.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

