@page
@model Cvl.DynamicForms.Areas.DynamicForms.Pages.TreeList.IndexModel
@{
    Layout = "_Layout";
}

<h4>
    Tree list
</h4>

<div class="container">

    @await Component.InvokeAsync("TreeListView", Model.PropertyGrid)


</div>