@page
@model Cvl.DynamicForms.Areas.DynamicForms.Pages.IndexModel
@{
    Layout = "_Layout";
}

@foreach (var item in Model.Types)
{
    <div>
        <a href="@item.ListUrl">List: @item.Type</a> <a href="@item.TreeListUrl">TreeList</a>
    </div>
}