@page
@model Cvl.DynamicForms.Areas.DynamicForms.Pages.PropertyGrid.IndexModel
@{
    Layout = "_Layout";
}

<h4>
    Property grid
</h4>

<div class="container">

    @await Component.InvokeAsync("PropertyGridView", Model.PropertyGrid)  


</div>