@page
@model Cvl.DynamicForms.Areas.DynamicForms.Pages.PropertyGrid.IndexModel
@{
    Layout = "_Layout";
}

<div class="container">
    @await Component.InvokeAsync("PropertyGridView", Model.PropertyGrid)  
</div>