@page
@model Cvl.DynamicForms.Areas.DynamicForms.Pages.PropertyGrid.PropertyGridNodeModel
@{
}
<div class="container">
    @await Component.InvokeAsync("PropertyGridNodeView", Model.PropertyGrid)
</div>